NODE_ENV=development
PORT=8000
HOST=0.0.0.0
OPLOVERZ_BASE_URL=https://www.sankavollerei.web.id
PROVIDER_TIMEOUT_MS=10000
REQUEST_TIMEOUT_MS=15000
CACHE_HOME_TTL_MS=180000
CACHE_SCHEDULE_TTL_MS=900000
CACHE_COLLECTION_TTL_MS=300000
CACHE_SEARCH_TTL_MS=300000
CACHE_DETAIL_TTL_MS=300000
CACHE_EPISODE_TTL_MS=60000
CACHE_MEDIA_VALIDATION_TTL_MS=60000
CACHE_MAX_ENTRIES=500
CORS_ORIGIN=*
RATE_LIMIT_MAX=100
RATE_LIMIT_WINDOW=1 minute
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
EXP_SECONDS_INTERVAL=60
EXP_PER_INTERVAL=5
COMPLETION_THRESHOLD=0.8
COMPLETION_EXP=20
