NODE_ENV=development
PORT=8000
HOST=0.0.0.0
OPLOVERZ_BASE_URL=https://www.sankavollerei.web.id
PROVIDER_TIMEOUT_MS=10000
REQUEST_TIMEOUT_MS=15000
CORS_ORIGIN=*
RATE_LIMIT_MAX=100
RATE_LIMIT_WINDOW=1 minute
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
EXP_SECONDS_INTERVAL=60
EXP_PER_INTERVAL=5
COMPLETION_THRESHOLD=0.8
COMPLETION_EXP=20
